@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
:root{
    --p : rgb(255, 208, 0);
    --border: black;
    --phover : rgb(255, 224, 86);
}

@font-face {
    font-family: 'Waffle';
    src: url("./assets/Waffle_Story.ttf");
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    background-color: #fefae0;
    
}
h3{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
}
p{
    font-family: 'Roboto Mono', monospace;
}
    
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.board{
    display: grid;
    grid: 1fr 1fr 1fr/1fr 1fr 1fr;
    gap: min(1vw,1vh);
}
.tile{
    cursor: pointer;
    width: min(20vw, 20vh);
    height: min(20vw, 20vh);
    background-color: var(--p);
    font-family: 'Waffle';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(15vw, 15vh);
    border : 0.2rem solid var(--border);
    box-shadow: 5px 5px rgb(69, 69, 69), inset 0px 0px rgb(192, 158, 7);
    transition: all .03s ease;
    border-radius: 1rem;
    transition: all 0.3s  ease;
}
.tile:hover{
    filter: brightness(1.1) saturate(0.5);
    box-shadow: 3px 3px rgb(69, 69, 69), inset 0px 0px rgb(192, 158, 7);
}
.pressed{
    background: rgba(255, 224, 86, 0.834);
    transition: all .05s ease;
    box-shadow: 0 0 rgb(69, 69, 69), inset 3px 3px rgb(125, 104, 7) !important;

}

.won{
    background: rgba(86, 255, 94, 0.834);
    transition: all .05s ease;
    box-shadow: 0 0 rgb(69, 69, 69), inset 3px 3px rgb(52, 125, 7) !important;

}

.noselect {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.reset{
    padding: 0.5rem;
    margin-top: 1rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    border: 2px solid black;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    border-radius: 100vw;
    font-size: 2.5vh;
    box-shadow: 0.5vh 0.5vh rgb(69, 69, 69), inset 0vh 0vh rgb(192, 158, 7);
    transition: all .05s ease;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.reset:hover {
    filter: brightness(90%);
    transition: all .05s ease;
    box-shadow: 0.3vh 0.3vh rgb(69, 69, 69), inset 0vh 0vh rgb(0,0,0,0.25);
  }

.reset:active, .button:focus {
    transition: all .05s ease;
    outline: none;
    box-shadow: 0 0 rgb(69, 69, 69), inset 0.5vh 0.5vh rgb(0,0,0,0.25);
  }

  .footer {
    position: block;
    margin: 3vh;
    text-align: center;
    font-size: 3vh;
  }
  
  .footer-text {
    text-decoration: none;
    color: black;
    font-weight: normal;
  }
  .footer-text:hover{
    color: rgb(39, 39, 39);
    font-weight: bold;
  }